<header>
    <div class="container">
        <div class="row" style="display: flex;height: 150px; background-color: black;">
            <div class="col header">
                <div class="headnav" style="flex: 1 1 auto; ">
                    <a href="#home"> HOME</a>
                    <a href="#">ABOUT</a>
                    <a href="#">BLOG</a>
                    <a href="#">CONTACT</a>
                </div>
                <div class="headsubnav" style="flex: 1 1 auto; ">
                    <a href="#home"> HOME</a>
                    <a href="#">ABOUT</a>
                    <a href="#">BLOG</a>
                    <a href="#">CONTACT</a>
                </div>
            </div>
            <div class="col " style=" width: 19vw;background-color: black;">
                <img class="headerImg" src="assets/Capture11.JPG" alt=" ">
            </div>
            <div class="col" style="width: 40vw;margin: 25px;">
                <div class="col navicon">
                    <div style=" width: 5vw;height: 7vh;">
                        <div class="search-box">
                            <button class="btn-search">
                                <i class="bi bi-search" style="color: #f5b52c;"></i>
                            </button>
                            <input type="text" class="input-search" placeholder="Type to Search...">
                        </div>
                    </div>
                    <div style=" padding-left:10px; display: flex;">
                        <button class="user-box">
                            <i class="bi bi-basket btn-user" style="color: #f5b52c; "></i>
                        </button>
                        <div (click)="showPrompt()">
                            <button class="user-box">
                                <i class="bi bi-people-fill btn-user" style=" color: #f5b52c; "></i>
                            </button>
                        </div>

                    </div>
                </div>
                <div class="col navdetails">
                    011 568 42 96&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    info@lilylaneflora.lk
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container" style=" height: 50px; display: grid;background-color: #f5b52c; ">
    <div class="topnav background-color" style="flex: 1 1 auto; ">
        <a href="#home"> WEDDING DECORATIONS </a>
        <a href="#">FLORAL GIFTS DELIVERY</a>
        <a href="#">CORPORATE EVENTS & OFFICE DECOR</a>
        <a href="#">HOME DECOR</a>
        <a href="#">SYMPATHY FLOWERS</a>
        <a href="#">CAKE DECOR</a>
    </div>
</div>
<div class="container">
    <div class="row" style="display: flex;">
        <div class="col" style="position: center; margin: 20px; font-size: 1.5em; ">
            <h1 style="margin: 50px;">Hand-picked fresh<br>
                flowers just for you</h1>
            <div style="margin: 50px;">Explore our exclusive
                collection and find the flowers that you only dreamed of.</div>
            <div style="margin: 50px;padding-top: 100px;">
                <button style="margin: 10px;padding-left: 20px; padding-right: 20px;  font-size: large;">
                    <h4> BROWSER FlOWERS</h4>
                </button>
            </div>
        </div>
        <div class="col " style="margin:inherit;">
            <img class="heroImg"
                src="assets/wedding-bouquet-flowers-roses-white-background-copy-space-minimal-concept-mockup-150325928.webp"
                alt="">
        </div>
    </div>
</div>





<div class="container">
    <div class="box-container ">
        <div class="box" style="background-image:url(../assets/lert.webp); background-size: cover; /* Adjust background size as needed */
        background-position: center;">
            <div class="boxcontent">
                <p style="float: left; font-weight: bold;color: #ffffff;">Wedding and Bridal Decor</p>
            </div>
        </div>
        <div class="box" style="background-image:url(../assets/floral.jpg); background-size: cover; /* Adjust background size as needed */
        background-position: center;">
            <div class="boxcontent">
                <p style="float: left; font-weight: bold;color: #ffffff;">Floral Gifts</p>
            </div>
        </div>
        <div class="box" style="background-image:url(../assets/cop.jpg); background-size: cover; /* Adjust background size as needed */
        background-position: center;">
            <div class="boxcontent">
                <p style="float: left; font-weight: bold;color: #ffffff;">Corporate Event and Office Decor</p>
            </div>
        </div>
        <div class="box" style="background-image:url(../assets/images.jpg); background-size: cover; /* Adjust background size as needed */
        background-position: center;">
            <div class="boxcontent">
                <p style="float: left; font-weight: bold;color: #ffffff;">Home Decor</p>
            </div>
        </div>
        <div class="box" style="background-image:url(../assets/sym.jpg); background-size: cover; /* Adjust background size as needed */
        background-position: center;">
            <div class="boxcontent">
                <p style="float: left; font-weight: bold;color: #ffffff;">Sympathy Flowers</p>
            </div>
        </div>
        <div class="box" style="background-image:url(../assets/naked.jpeg); background-size: cover; /* Adjust background size as needed */
        background-position: center;">
            <div class="boxcontent">
                <p style="float: left; font-weight: bold;color: #ffffff; background-color: transparent;">Cake Decor</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h1 style="text-align: center;">BEST SELLER </h1>
    <h4 style="text-align: center;">Shop Now </h4>
    <div class="product-container ">
        <div class="product" style="background-image:url(../assets/flower.jpg); background-size: cover; /* Adjust background size as needed */
        background-position: center;">
        </div>
        <div class="product" style="background-image:url(../assets/flower1.jpg); background-size: cover; /* Adjust background size as needed */
            background-position: center;"></div>
        <div class="product" style="background-image:url(../assets/flower2.jpg); background-size: cover; /* Adjust background size as needed */
            background-position: center;">
        </div>
        <div class="product" style="background-image:url(../assets/flower3.jpg); background-size: cover; /* Adjust background size as needed */
            background-position: center;">
        </div>
        <div class="product" style="background-image:url(../assets/flower4.jpg); background-size: cover; /* Adjust background size as needed */
            background-position: center;">
        </div>
        <div class="product" style="background-image:url(../assets/flower5.jpg); background-size: cover; /* Adjust background size as needed */
            background-position: center;">
        </div>
        <div class="product" style="background-image:url(../assets/flower6.jpg); background-size: cover; /* Adjust background size as needed */
            background-position: center;">
        </div>
        <div class="product" style="background-image:url(../assets/flower7.jpg); background-size: cover; /* Adjust background size as needed */
            background-position: center;">
        </div>
        <div class="product" style="background-image:url(../assets/flower8.jpg); background-size: cover; /* Adjust background size as needed */
            background-position: center;">
        </div>
        <div class="product" style="background-image:url(../assets/flower9.jpg); background-size: cover; /* Adjust background size as needed */
            background-position: center;">
        </div>
        <div class="product" style="background-image:url(../assets/flower10.jpg); background-size: cover; /* Adjust background size as needed */
            background-position: center;">
        </div>
        <div class="product" style="background-image:url(../assets/flower11.jpg); background-size: cover; /* Adjust background size as needed */
            background-position: center;">
        </div>
        <div class="product" style="background-image:url(../assets/flower12.jpg); background-size: cover; /* Adjust background size as needed */
            background-position: center;">
        </div>
        <div class="product" style="background-image:url(../assets/flower13.jpg); background-size: cover; /* Adjust background size as needed */
            background-position: center;">
        </div>
        <div class="product" style="background-image:url(../assets/flower14.jpg); background-size: cover; /* Adjust background size as needed */
            background-position: center;">
        </div>
    </div>
</div>
<br>

<!-- Site footer -->
<footer class="footer-distributed">

    <div class="footer-left">
        <img class="headerImg" src="assets/Capture11.JPG" alt=" ">

        <p class="footer-links">
            <a href="#" class="link-1">Home</a>

            <a href="#">Blog</a>

            <a href="#">Pricing</a>

            <a href="#">About</a>

            <a href="#">Faq</a>

            <a href="#">Contact</a>
        </p>

        <p class="footer-company-name">Lily lane © 2023</p>
    </div>

    <div class="footer-center">

        <div>
            <i class="bi bi-geo-alt-fill"></i>
            <p><span>50 Street, Larzarus Road</span> Larzarus Road, Negombo</p>
        </div>

        <div>
            <i class="bi bi-telephone-fill"></i>
            <p>011 568 42 96</p>
        </div>

        <div>
            <i class="bi bi-envelope-at-fill"></i>
            <p><a href="mailto:support@company.com">support@lilylaneflora.lk
                </a></p>
        </div>

    </div>

    <div class="footer-right">

        <p class="footer-company-about">
            <span>About the company</span>
            Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus
            vehicula sit amet.
        </p>

        <div class="footer-icons">

            <a href="#"><i class="bi bi-facebook"></i></a>
            <a href="#"><i class="bi bi-twitter"></i></a>
            <a href="#"><i class="bi bi-linkedin"></i></a>

        </div>

    </div>

</footer>