@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);


* {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

//
.topnav {
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	background-color: #f5b52c;
}

.topnav a {
	float: left;
	color: #000000;
	text-align: center;
	font-weight: bold;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	background-color: #f5b52c;
	position: relative;
	text-decoration: none;
	transition: all 0.3s ease-in-out;
}

.topnav a:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 4px;
	/* Adjust the underline thickness as needed */
	bottom: 0;
	left: 0;
	background-color: #000000;
	/* Change the underline color as needed */
	transform: scaleX(0);
	transform-origin: 100%;
	transition: transform 0.3s ease-in-out;
}

.topnav a:hover::after {
	transform: scaleX(1);
}

.header {
	width: 40vw;
	margin: 25px;
	padding: auto;
	text-align: center;
}

.headnav {
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
}

.headnav a {
	float: left;
	color: #f5b52c;
	text-align: center;
	font-weight: bold;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	position: relative;
	text-decoration: none;
	transition: all 0.3s ease-in-out;
}

.headnav a:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 3px;
	/* Adjust the underline thickness as needed */
	bottom: 0;
	left: 0;
	background-color: #f5b52c;
	/* Change the underline color as needed */
	transform: scaleX(0);
	transform-origin: 100%;
	transition: transform 0.3s ease-in-out;
}

.headnav a:hover::after {
	transform: scaleX(1);
}

.headsubnav {
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
}

.headsubnav a {
	float: left;
	color: #f5b52c;
	text-align: center;
	font-weight: normal;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 13px;
	position: relative;
	text-decoration: none;
	transition: all 0.3s ease-in-out;
}


.headsubnav a:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	/* Adjust the underline thickness as needed */
	bottom: 0;
	left: 0;
	background-color: #f5b52c;
	/* Change the underline color as needed */
	transform: scaleX(0);
	transform-origin: 100%;
	transition: transform 0.3s ease-in-out;
}

.headsubnav a:hover::after {
	transform: scaleX(1);
}


.search-box {
	float: right;
	color: #f5b52c;
	width: fit-content;
	height: fit-content;
	position: relative;

}

.user-box {
	float: right;
	color: #f5b52c;
	width: fit-content;
	height: fit-content;
	position: relative;
	background-color: black;
	border: #000000;
	width: 5vw;
	height: 7vh;

}

.navicon {

	display: flex;
	float: left;
	padding-left: 300px;
	margin: 10px;



}

.navdetails {
	color: #f5b52c;
	float: right;
	padding-right: 33px;
}

.heroImg {
	height: -webkit-fill-available;
	width: -webkit-fill-available;
}

.headerImg {
	margin-left: auto;
	width: 15vw;
	margin-right: auto;
	position: relative;
	left: 30px;
}

.input-search {
	height: 30px;
	width: 0px;
	border-style: none;
	padding: 10px;
	font-size: 18px;
	letter-spacing: 2px;
	outline: none;
	border-radius: 25px;
	transition: all .5s ease-in-out;
	background-color: rgb(0, 0, 0);
	padding-right: 40px;
	color: #fff;
}

.input-search::placeholder {
	color: rgba(255, 255, 255, .5);
	font-size: 18px;
	letter-spacing: 2px;
	font-weight: 100;
}

.btn-search {
	width: 50px;
	height: 50px;
	border-style: none;
	font-size: 20px;
	font-weight: bold;
	outline: none;
	cursor: pointer;
	border-radius: 50%;
	position: absolute;
	right: 0px;
	color: #ffffff;
	background-color: transparent;
	pointer-events: painted;
}

.btn-user {
	width: 50px;
	height: 50px;
	border-style: none;
	font-size: 20px;
	font-weight: bold;
	outline: none;
	cursor: pointer;
	border-radius: 50%;
	position: relative;
	right: 0px;
	color: #ffffff;
	background-color: transparent;
	pointer-events: painted;
}

.btn-logo {
	width: 50px;
	height: 50px;
	border-style: none;
	font-size: 20px;
	font-weight: bold;
	outline: none;
	cursor: pointer;
	border-radius: 50%;
	position: absolute;
	left: 130px;
	right: 0px;
	color: #ffffff;
	background-color: transparent;
	pointer-events: painted;
}

.btn-search:focus~.input-search {
	width: 300px;
	border-radius: 0px;
	background-color: transparent;
	border-bottom: 1px solid rgba(255, 255, 255, .5);
	transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.input-search:focus {
	width: 300px;
	border-radius: 0px;
	background-color: transparent;
	border-bottom: 1px solid rgba(255, 255, 255, .5);
	transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.box-container {
	display: flex;
	flex-wrap: wrap;
	margin: auto;
}

.box {
	width: 28.95%;
	height: 40vh;
	background-color: #3498db;
	margin: 20px;
	padding-left: 25px;
	color: white;
	text-align: center;
	line-height: 100px;
	font-size: 24px;
	transition: background-color 0.3s; /* Transition for background-color */

}

/* Box content styles */
.boxcontent {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
  }
  
  /* Button styles */
  .hover-button {
	background-color: transparent;
	color: white;
	border: 2px solid white;
	padding: 10px 20px;
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s; /* Transition for button hover effect */
  }
  
  /* Hover effect - remove background image and set to black */
  .boxcontent:hover .box {
	background-image: none; /* Remove background image */
	// background-color: black; /* Set background color to black */
  }

section {
	width: 100%;
	display: inline-block;
	background: #333;
	height: 50vh;
	text-align: center;
	font-size: 22px;
	font-weight: 700;
	text-decoration: underline;
}

.product-container {
	display: flex;
	flex-wrap: wrap;
	margin: auto;
}

.product {
	width: 15.7%;
	height: 40vh;
	background-color: #3498db;
	margin: 20px;
	padding-left: 25px;
	color: white;
	text-align: center;
	line-height: 100px;
	font-size: 24px;
}
  

.footer-distributed {
	background: #666;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
	width: 40%;
}

/* The company logo */

.footer-distributed h3 {
	color: #ffffff;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}

.footer-distributed h3 span {
	color: lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links {
	color: #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a {
	display: inline-block;
	line-height: 1.8;
	font-weight: 400;
	text-decoration: none;
	color: inherit;
}

.footer-distributed .footer-company-name {
	color: #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
	width: 35%;
}

.footer-distributed .footer-center i {
	// background-color: #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p {
	display: inline-block;
	color: #ffffff;
	font-weight: 400;
	vertical-align: middle;
	margin: 0;
}

.footer-distributed .footer-center p span {
	display: block;
	font-weight: normal;
	font-size: 14px;
	line-height: 2;
}

.footer-distributed .footer-center p a {
	color: lightseagreen;
	text-decoration: none;
	;
}

.footer-distributed .footer-links a:before {
	content: "|";
	font-weight: 300;
	font-size: 20px;
	left: 0;
	color: #fff;
	display: inline-block;
	padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
	content: none;
}

/* Footer Right */

.footer-distributed .footer-right {
	width: 20%;
}

.footer-distributed .footer-company-about {
	line-height: 20px;
	color: #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span {
	display: block;
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons {
	margin-top: 25px;
}

.footer-distributed .footer-icons a {
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color: #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed {
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right {
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i {
		margin-left: 0;
	}

}

//////////////////////////////////////////////////////
/// 
/// 
/// 
@media (min-width: 1440px) and (max-width: 1440px) {
	.box-container {
		display: flex;
		flex-wrap: wrap;
		margin: 0px;
	}

	.box {
		width: 28.8%;
		height: 30vh;
		background-color: #5f2020;

		margin: 20px;

	}

	.product-container {
		display: flex;
		flex-wrap: wrap;
		margin: 0px;
	}

	.product {
		width: 15.4%;
		height: 30vh;
		background-color: #5f2020;
		margin: 20px;

	}
}

@media (min-width: 768px) and (max-width: 1024px) {
	.box-container {
		display: flex;
		flex-wrap: wrap;
		margin: 0px;
	}

	.box {
		width: 26.6%;
		height: 30vh;
		margin-top: 30px;
		background-color: #db346c;

		display: block;
	}

	.product-container {
		display: flex;
		flex-wrap: wrap;
		margin: 0px;
	}

	.product {
		width: 13.6%;
		height: 30vh;
		margin-top: 30px;
		background-color: #db346c;

		display: block;
	}

	.navicon {
		display: flex;
		float: left;
		padding-left: 177px;
		margin: 10px;

	}

	.header {
		width: 40vw;
		margin: 17px;
		padding: auto;
		text-align: center;
	}

	.heroImg {
		height: 107vh;
		width: 51vw;
	}

	.headerImg {
		margin-left: auto;
		width: 22vw;
		margin-right: auto;
		position: relative;
		left: 30px;
	}
}

@media (min-width: 426px) and (max-width: 768px) {
	.box {
		width: 41%;
		height: 30vh;
		display: block;
		background-color: #1d0f14;

	}

	.product {
		width: 24.5%;
		height: 30vh;
		display: block;
		background-color: #1d0f14;

	}

	.header {
		width: 40vw;
		margin: 9px;
		padding: auto;
		text-align: center;
	}

	.heroImg {
		height: 134vh;
		width: 57vw;
	}

	.topnav a {
		float: left;
		color: #000000;
		text-align: center;
		font-weight: bold;
		padding: 19px;
		text-decoration: none;
		font-size: 8px;
		background-color: #f5b52c;
		position: relative;
		text-decoration: none;
		transition: all 0.3s ease-in-out;
	}

	.navdetails {
		color: #f5b52c;
		float: right;
		padding-right: 3px;
	}

	.headerImg {
		margin-right: 73px;
		width: 22vw;
		height: 23vh;
		margin-right: auto;
		position: relative;
		left: 123px;
	}

	.headnav {
		overflow: hidden;
		margin-left: auto;
		margin-right: auto;
		display: flex;
	}

	.navdetails {
		color: #f5b52c;
		float: left;
		padding-left: 170px;

	}

	.headnav a {
		float: left;
		color: #f5b52c;
		text-align: center;
		/* font-weight: bold; */
		// padding: 14px 16px;
		text-decoration: none;
		font-size: 8px;
		position: relative;
		text-decoration: none;
		transition: all 0.3s ease-in-out;
	}
}

@media (min-width: 375px) and (max-width: 426px) {
	.box {
		width: 34%;
		height: 30vh;
		display: block;
		background-color: #34dbb7;

	}

	.heroImg {
		height: 134vh;
		width: 57vw;
		display: none;
	}

	.product {
		width: 32%;
		height: 30vh;
		display: block;
		background-color: #34dbb7;

	}

	.navicon {
		display: flex;
		float: left;
		padding-left: 75px;
		margin: 10px;
	}

	.headnav {
		overflow: hidden;
		margin-left: auto;
		margin-right: auto;
		display: none;
	}

	.headsubnav {
		overflow: hidden;
		margin-left: auto;
		margin-right: auto;
		display: none;
	}

	.headerImg {
		margin: auto;
		padding: auto;
		width: 55vw;
		position: relative;
		left: -124px;
	}

	.navdetails {
		color: #f5b52c;
		float: right;
		padding-left: 33px;
		position: relative;
		left: 42px;
	}

	.user-box {
		display: none;
	}

	.search-box {
		float: right;
		color: #f5b52c;
		width: -moz-fit-content;
		width: fit-content;
		height: -moz-fit-content;
		height: fit-content;
		position: relative;
		left: 75px;
	}
}

@media (max-width: 377px) {
	.box {
		width: 32%;
		height: 30vh;
		display: block;
		background-color: #07070c;

	}

	.product {
		width: 32%;
		height: 30vh;
		display: block;
		background-color: #07070c;

	}
}

@media (max-width: 320px) {
	.box {
		width: 29%;
		height: 30vh;
		display: block;
		background-color: #3734db;

	}

	.product {
		width: 29%;
		height: 30vh;
		display: block;
		background-color: #3734db;

	}
}