<!-- <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="1rem" fxLayoutAlign="center" class="login-container">

    <div fxFlex="50" class="login-image">
        <img
            src="https://images.pexels.com/photos/17987435/pexels-photo-17987435/free-photo-of-vicuna-en-la-puna.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
    </div>

    <div fxFlex="50" class="login-form full-width" fxLayout="column" fxLayout.xs="column" fxLayoutAlign="center">

        <div class="login-form-container" fxFlexAlign="auto">
            <h1 class="mat-h1">Sign in to your account</h1>

            <form [formGroup]="form" class="form">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>User name</mat-label>
                    <input matInput placeholder="Enter username" formControlName="username" />
                </mat-form-field>
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" placeholder="Enter password" formControlName="password"
                        (keydown)="onKeydown($event)" />
                </mat-form-field>
                <button mat-raised-button color="primary" type="button" class="submit-button"
                    [disabled]="form.invalid || form.pristine" (click)="checkLogin()">
                    LOG IN
                </button>
            </form>
        </div>


    </div>
</div> -->

<div class="row">
	<div class="col-md-6 mx-auto p-0">
		<div class="card">
			<div class="login-box" style="background-image:url(../assets/wedding-bouquet-flowers-roses-white-background-copy-space-minimal-concept-mockup-150325928.webp); background-size: cover; /* Adjust background size as needed */
background-position: center;">
				<div class="login-snip">
					<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1"
						class="tab">Login</label>
					<input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign
						Up</label>
					<div class="login-space">
						<div class="login">
							<form [formGroup]="loginform">
								<div class="group">
									<input matInput formControlName="username" type="text" class="input"
										placeholder=" username">
								</div>
								<div class="group">
									<input matInput formControlName="password" type="password" class="input" data-type="password" placeholder=" password">
								</div>
								<div class="group">
									<input type="checkbox" class="check" checked>
									<label for="check"><span class="icon"></span> Keep me Signed in</label>
								</div>
							</form>
							<div class="group">
								<button style="width: 100%; background-color: #1161ee;" mat-raised-button type="button" class="submit-button"
								[disabled]="loginform.invalid || loginform.pristine" (click)="checkLogin()">
								LOG IN
							</button>
								<!-- <input [disabled]="loginform.invalid || loginform.pristine"  type="submit" class="button" value="Sign In"> -->
							</div>
							<div class="hr"></div>
							<div class="foot">
								<label for="tab-2">Not a member? Register</label>
							</div>
						</div>
						<div class="sign-up-form">
							<form [formGroup]="userForm">
								<div class="group">
									<input matInput formControlName="name" type="text" class="input"
										placeholder="username">
									<validation-message style="color: red;"
										[abstractController]="getAbstractController(userForm,'name')"
										placeHolder="User Name">
									</validation-message>
								</div>

								<div class="group">
									<input matInput formControlName="email" type="text" class="input"
										placeholder=" email address">
									<validation-message style="color: red;"
										[abstractController]="getAbstractController(userForm,'email')"
										placeHolder="Email">
									</validation-message>
								</div>

								<div class="group">
									<input matInput formControlName="contact" type="text" class="input"
										placeholder=" contact">
									<validation-message style="color: red;"
										[abstractController]="getAbstractController(userForm,'contact')"
										placeHolder="Contact">
									</validation-message>
								</div>

								<div class="group">
									<input matInput formControlName="password" type="password" class="input"
										data-type="password" placeholder="password">
									<validation-message style="color: red;"
										[abstractController]="getAbstractController(userForm,'password')"
										placeHolder="Password">
									</validation-message>
								</div>
							</form>
							<div class="group">
								<button style="width: 100%; background-color: #1161ee;" mat-raised-button type="button" class="submit-button"
								[disabled]="userForm.invalid || userForm.pristine" (click)="userCreate()">
								SIGN UP
							</button>
							<div class="hr"></div>
							<div class="foot">
								<label for="tab-1">Already Member?</label>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>